<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 2</title>
    <link rel="stylesheet" type="text/css" href="/static/css/estilosEj2.css">
</head>
<body>
    <div class="container">
        <form action="/ejercicio2" method="post">
            <label for="nombre1">Nombre 1:</label>
            <input type="text" id="nombre1" name="nombre1" required>

            <label for="nombre2">Nombre 2:</label>
            <input type="text" id="nombre2" name="nombre2" required>

            <label for="nombre3">Nombre 3:</label>
            <input type="text" id="nombre3" name="nombre3" required>

        <input type="submit" value="Enviar" class="button">
    </form>
        {% if mayor_nombre %}
            <div class="resultado">
                <p>El nombre con mayor cantidad de caracteres es: {{ mayor_nombre }}</p>
                <p>El nombre tiene: {{ longitud }} caracteres</p>
            </div>
        {% endif %}
    </div>
</body>
</html>
